---
title: Layouts
description: An SEO ready starter kit for 11ty with Design Tokens, Responsive Type Scale and Cypress Testing.
---
<section class="block-area">
    <header class="flow flow-space-3 py-12">
        <h1>Common Layouts</h1>
        <nav>
            <ul class="cluster">
                <li><a href="#accordion">Accordion</a></li>
            </ul>
        </nav>
    </header>
    <main class="flow flow-space-20 mw-md py-16">
        <div id=""></div>
    </main>
</section>