{% macro carousel(_) %}
    {% set defaultOptions = { autoplay: true, autoplayInterval: 7000, scrollToChange: false} %}
    <section
        x-data="{ scooch: null }"
        @load.window="scooch = new Scooch($refs.scooch, {{ _.options | default(defaultOptions) | dump }})"
    >
        <ul x-ref="scooch" class="scooch">
            {% for slide in _.slides %}
            <li class="scooch__slide">
                {{ slide | safe }}
            </li>
            {% endfor %}
        </ul>

        {% if _.controls | default(true) %}
        <nav>
            <button class="btn btn--square" @click="scooch.previous()">
                {% set prevButtonContent %}
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 17l-5-5m0 0l5-5m-5 5h12"/>
                </svg>
                {% endset %}

                {{ _.prevButtonContent | default(prevButtonContent) | safe }}
                <span class="sr-only">Previous</span>
            </button>

            <button class="btn btn--square" @click="scooch.next()">
                {% set nextButtonContent %}
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 7l5 5m0 0l-5 5m5-5H6"/>
                </svg>
                {% endset %}

                {{ _.nextButtonContent | default(nextButtonContent) | safe }}
                <span class="sr-only">Next</span>
            </button>
        </nav>
        {% endif %}
    </section>
{% endmacro %}